@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

#app {
  /*max-width: 1280px;*/
  min-width: 100%;
  /*margin: 0 auto;*/
}

.sidebar a {
  color: var(--color-base-content);
}

.sidebar summary {
  color: var(--color-base-content);
}

.sidebar a.router-link-active {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  text-decoration: none;
}

.sidebar a.router-link-exact-active:hover {
  color: var(--color-primary-content);
}

.sidebar a:hover {
  color: var(--color-base-content);
  text-decoration: none;
}

.custom-input {
  background-color: var(--color-base-200);
  border: none;
}

.custom-input:focus-within {
  border: none;
  outline: none;
}

.logo {
  width: 216px;
  height: 34px;
  background-color: var(--color-primary);
  mask-image: url('./assets/brand-logo/lapxpert-logo.png');
  mask-size: cover;
  mask-repeat: no-repeat;
}
